.vt-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background: rgb(0 0 0 / 60%);

  transition: opacity 0.5s;
}

.vt-backdrop.fade-enter-from,
.vt-backdrop.fade-leave-to {
  opacity: 0;
}

.vt-backdrop.fade-leave-active {
  transition-duration: 0.3s;
}

@media (min-width: 960px) {
  .vt-backdrop {
    display: none;
  }
}
