.vt-badge {
  position: relative;
  top: -0.65em;

  display: inline-block;

  margin-left: 0.5em;
  padding: 0.35em 0.4em 0.3em;

  color: var(--vt-c-bg);
  font-weight: 600;
  font-size: 0.65em;
  line-height: 1;

  border-radius: 6px;

  background-color: var(--vt-c-brand);

  transition: color 0.5s;
}

.vt-badge.warning {
  color: var(--vt-c-text-light-1);

  background-color: var(--vt-c-yellow);
}
