.vt-doc .custom-block {
  position: relative;

  margin: 28px 0;
  padding: 20px 24px 4px 42px;

  color: rgb(0 0 0 / 55%);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;

  border-radius: 8px;

  background-color: var(--vt-c-bg-soft);

  overflow-x: auto;

  transition: color 0.5s, background-color 0.5s;
}

.dark .vt-doc .custom-block {
  color: var(--vt-c-text-2);
}

.vt-doc .custom-block::before {
  position: absolute;
  top: 20px;
  left: 17px;
  content: 'ⓘ';

  font-weight: 600;
  font-size: 15px;
}

.vt-doc .custom-block.warning::before,
.vt-doc .custom-block.danger::before {
  top: 19px;
  left: 16px;
  content: '⚠';

  font-size: 17px;
}

.vt-doc .custom-block .custom-block-title {
  margin-bottom: 8px;

  color: var(--vt-c-text-1);
  font-weight: 500;
  font-size: 15px;

  transition: color 0.5s;
}

.vt-doc .custom-block.tip {
  border: 1px solid var(--vt-c-tip);
}

.vt-doc .custom-block.tip::before {
  color: var(--vt-c-tip);
}

.vt-doc .custom-block.warning {
  border: 1px solid var(--vt-c-yellow);
}

.vt-doc .custom-block.warning::before {
  color: var(--vt-c-yellow);
}

.vt-doc .custom-block.danger {
  border: 1px solid var(--vt-c-red);
}

.vt-doc .custom-block.danger .custom-block-title,
.vt-doc .custom-block.danger::before {
  color: var(--vt-c-red);
}

.vt-doc .custom-block ul li::before {
  top: 0.55rem;
}

.vt-doc .custom-block ol li::before {
  top: 1px;

  font-size: 13px;
}

.vt-doc .custom-block :not(pre) > code {
  font-size: 13px;

  background-color: rgb(27 31 35 / 5%);
}

.dark .vt-doc .custom-block :not(pre) > code {
  background-color: rgb(0 0 0 / 20%);
}

.vt-doc .custom-block.danger a,
.vt-doc .custom-block.warning a {
  color: var(--vt-c-text-code);
}
