.vt-flyout {
  position: relative;
}

.vt-flyout:hover {
  color: var(--vt-c-bland);

  transition: color 0.25s;
}

.vt-flyout-button-text {
  display: flex;
  align-items: center;

  color: var(--vt-c-text-1);
  font-weight: 500;
  font-size: 13px;
  line-height: var(--vt-nav-height);

  transition: color 0.25s;
}

.vt-flyout:hover .vt-flyout-button-text {
  color: var(--vt-c-text-2);
}

.vt-flyout-button-icon {
  width: 20px;
  height: 20px;

  fill: currentcolor;

  transition: fill 0.25s;
}

.vt-flyout:hover .vt-flyout-button-icon {
  fill: var(--vt-c-text-2);
}

.vt-flyout-menu {
  position: absolute;
  top: calc(var(--vt-nav-height) / 2 + 15px);
  right: 0;

  visibility: hidden;

  opacity: 0;
  transform: translateY(-4px);

  transition: opacity 0.25s, visibility 0.25s, transform 0.25s;
}

.vt-flyout:hover .vt-flyout-menu,
.vt-flyout-button[aria-expanded='true'] + .vt-flyout-menu {
  visibility: visible;

  opacity: 1;
  transform: translateY(0);
}

.vt-flyout-button {
  display: flex;
  align-items: center;

  height: var(--vt-nav-height);
  padding: 0 12px;

  color: var(--vt-c-text-1);

  transition: color 0.5s;
}

.vt-flyout-button-text-icon {
  width: 14px;
  height: 14px;
  margin-left: 4px;

  fill: currentcolor;
}
