.vt-menu-link {
  display: block;

  padding: 0 18px;

  color: var(--vt-c-text-1);
  font-weight: 400;
  font-size: 13px;
  line-height: 28px;
  white-space: nowrap;

  transition: color 0.25s;
}

.vt-menu-link:hover {
  color: var(--vt-c-brand);
}
